<h1>Création d'un pays</h1>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button (click)="creerPays()">Créer</button>
</form>
