h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #365486; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
}

button:hover {
  background-color: #365486; /* Changement de couleur au survol */
}

button:active {
  background-color: #0f1035; /* Nouvelle couleur de fond lors du clic */
  transition: background-color 0s; /* Désactivation de la transition pour le clic */
}
