<ul>
  <li><img /></li>
  <li>
    <a
      routerLink="/voyages"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Voyages</a
    >
  </li>

  <ng-container *ngIf="estConnecte()">
    <ng-container *ngIf="estAdmin()">
      <li>
        <a
          routerLink="/pays"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Creation pays</a
        >
      </li>
      <li>
        <a
          routerLink="/creation-voyage"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Creation voyage</a
        >
      </li>
    </ng-container>
    <li>
      <a href="/panier">Panier</a>
    </li>
    <li>
      <a href="/deconnexion">Déconnexion</a>
    </li>
  </ng-container>

  <ng-container *ngIf="!estConnecte()">
    <li>
      <a href="/connexion">Connexion</a>
    </li>
  </ng-container>
</ul>
