/* Style de base pour la classe login-container */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style pour le titre "Connexion" */
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Style pour le paragraphe d'erreur */
.login-container .erreur {
  color: red;
}

/* Style pour les étiquettes de champ */
.login-container label {
  display: block;
  margin-bottom: 5px;
}

/* Style pour les champs de saisie */
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* assure que la largeur inclut le rembourrage et la bordure */
}

/* Style pour le bouton de connexion */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Style pour le bouton de connexion au survol */
.login-container button:hover {
  background-color: #0056b3;
}
