<div class="login-container">
  <h2>Connexion</h2>
  <div class="form-group">
    <p class="erreur">{{ messageErreur }}</p>
    <label for="username">Mail :</label>
    <input type="text" [formControl]="username" required />
  </div>
  <div class="form-group">
    <label for="password">Mot de passe :</label>
    <input type="password" [formControl]="password" required />
  </div>
  <button (click)="connexion()">Se connecter</button>
</div>
