.reservation-container {
  margin-top: 20px; /* Marge en haut */
}

/* Style pour le titre */
.reservation-title {
  color: #333; /* Couleur du texte */
  font-size: 24px; /* Taille de la police */
  margin-bottom: 10px; /* Marge en bas */
}

/* Style pour le formulaire */
.reservation-form {
  width: 100%; /* Largeur du formulaire */
}

/* Style pour les champs de date */
.reservation-date-field {
  margin-bottom: 20px; /* Marge en bas */
}

/* Style pour les boutons */
.reserve-button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Arrondi des coins */
  cursor: pointer; /* Curseur au survol */
  transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
}

.reserve-button:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}
