<ng-container *ngIf="estConnecte()">
  <div class="reservation-container">
    <h2 class="reservation-title">Reserver :</h2>
    <div class="reservation-form">
      <mat-form-field class="reservation-date-field">
        <mat-label>Date de début et de fin</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="dateMin">
          <input
            matStartDate
            [formControl]="dateDebut"
            placeholder="Start date"
          />
          <input matEndDate [formControl]="dateFin" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <br />
      <button class="reserve-button" (click)="reserver()">Réserver</button>
    </div>
  </div>
</ng-container>
