<div class="voyage-container" *ngIf="voyage">
  <h1>{{ voyage.nom }}</h1>
  <br />
  <img
    class="voyage-image"
    [src]="voyage.image?.image"
    alt="{{ voyage.nom }}"
  />
  <div class="voyage-info">
    <br /><br />
    <p><strong>Description:</strong> {{ voyage.description }}</p>
    <br /><br />
    <p>
      <strong>Prix par nuit:</strong>
      {{ voyage.prix | currency : "EUR" : "symbol" : "1.2-2" }}
    </p>
    <br /><br />
    <p><strong>Ville:</strong> {{ voyage.ville?.nom }}</p>
    <br /><br />
    <app-reservation [voyageId]="id"></app-reservation>
    <app-message [voyageId]="id"></app-message>
  </div>
</div>
