.voyage-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

h1 {
  color: #2c3e50;
}

.voyage-image {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

.voyage-info {
  text-align: left;
  margin-top: 20px;
}

.voyage-info p {
  margin: 10px 0;
  color: #34495e;
}

.reserve-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button:hover {
  background-color: #2980b9;
}
