/* Style pour les boutons */
button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Arrondi des coins */
  cursor: pointer; /* Curseur au survol */
  transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
}
