<ng-container *ngIf="estConnecte()"
  ><ng-container *ngIf="listMessage.length !== 0">
    <h2>Les avis :</h2>
    <ng-container *ngFor="let message of listMessage">
      <h4>Avis de '{{ message.utilisateurMail }}' :</h4>
      <p>Note: {{ message.note }}/5</p>
      <p>
        {{ message.text }}
      </p></ng-container
    >
  </ng-container>

  <ng-container *ngIf="listMessage.length === 0">
    <h2>Les avis :</h2>
    <br />
    <p>Il n'y a pas encore d'avis pour ce voyage.</p>
  </ng-container>

  <h2>Rediger un avis :</h2>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Note sur 5</mat-label>
      <input matInput type="number" formControlName="note" min="0" max="5" />
    </mat-form-field>

    <br />
    <mat-form-field>
      <mat-label>Message :</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
    <br />
    <button (click)="publierMessage()">Publier</button>
  </form>
</ng-container>
