<h1>Création d'un voyage</h1>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prix</mat-label>
    <input matInput formControlName="prix" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ville</mat-label>
    <mat-select formControlName="ville">
      <div *ngFor="let ville of villes">
        <mat-option value="ville">{{ ville.nom }}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <h1>Image de presentation :</h1>

  <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)" />
  </div>

  <button (click)="creerVoyage()">Créer</button>
</form>
