/* Style pour les titres h2 */
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* Style pour les conteneurs de liste de paniers */
.liste-panier {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style pour les boutons */
button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour les boutons au survol */
button:hover {
  background-color: #0056b3;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

img.mat-card-xl-image {
  width: 100%; /* Assurez-vous que l'image occupe la largeur complète du conteneur */
  height: auto; /* Ajustez la hauteur de l'image en conséquence */
  border-radius: 4px; /* Ajoutez un arrondi aux coins de l'image si nécessaire */
  margin-top: 10px;
}
