<div class="container">
  <ng-container *ngIf="estConnecte()"></ng-container>
  <h2>Voir votre panier :</h2>
  <div *ngFor="let panier of listePaniers">
    <div *ngIf="panier.etat === 'C'" class="liste-panier">
      <ng-container *ngFor="let reservation of panier.reservations">
        <h3>Nom :{{ reservation.voyage.nom }}</h3>
        <p>
          Date de debut : {{ reservation.dateDebut | date : "dd MMM, yyyy" }}
        </p>
        <p>
          Date de fin :
          {{ reservation.dateFin | date : "dd MMM, yyyy" }}
        </p>
        <button (click)="voirVoyage(reservation.voyage.id)">
          Voir le voyage
        </button>
        <br />
        <button
          style="background-color: red"
          (click)="supprimerPanier(reservation.id)"
        >
          Supprimer la reservation
        </button>
      </ng-container>
      <br />
      <h4>Total du panier : {{ prixTotalPanier }} €</h4>
      <button (click)="validerPanier(panier.id)">Valider le panier</button>
    </div>
  </div>

  <h2>Historique de vos paniers :</h2>
  <div *ngFor="let panier of listePaniers">
    <div *ngIf="panier.etat !== 'C'" class="liste-panier">
      <ng-container *ngFor="let reservation of panier.reservations">
        <h3>Nom :{{ reservation.voyage.nom }}</h3>
        <p>
          Date de debut : {{ reservation.dateDebut | date : "dd MMM, yyyy" }}
        </p>
        <p>
          Date de fin :
          {{ reservation.dateFin | date : "dd MMM, yyyy" }}
        </p>
        <button (click)="voirVoyage(reservation.voyage.id)">
          Voir le voyage
        </button>
      </ng-container>
    </div>
  </div>
</div>
