h1 {
  text-align: center;
}

.voyages {
  text-align: center;
  display: block;
}

.mat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; /* Ajout de marges négatives pour compenser la marge sur chaque carte */
}

.example-card {
  width: calc(25% - 30px); /* 25% width for each card with some margin */
  height: 25rem;
  margin: 15px;
  box-sizing: border-box;
  display: inline-block; /* Force la disposition en ligne */
  vertical-align: top; /* Alignement vertical en haut */
}

@media (max-width: 768px) {
  .example-card {
    width: calc(50% - 30px); /* Two cards per row on smaller screens */
  }
}
.mat-card-header {
  display: flex;
  align-items: center;
}

.mat-card-title-group {
  flex: 1;
}

.mat-card-title {
  font-size: 1.5em; /* Ajustez la taille de la police selon vos besoins */
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 1em; /* Ajustez la taille de la police selon vos besoins */
  color: #555; /* Couleur du texte pour le sous-titre */
}

.mat-card-content {
  margin-top: 10px;
  font-size: 1.2em; /* Ajustez la taille de la police selon vos besoins */
}

img.mat-card-xl-image {
  width: 100%; /* Assurez-vous que l'image occupe la largeur complète du conteneur */
  height: auto; /* Ajustez la hauteur de l'image en conséquence */
  border-radius: 4px; /* Ajoutez un arrondi aux coins de l'image si nécessaire */
  margin-top: 10px;
}

.titre {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fond semi-transparent pour une meilleure lisibilité */
  padding: 20px;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
}
