<h1>Les voyages</h1>
<div class="voyages">
  <mat-card *ngFor="let voyage of listeVoyage" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ voyage.nom }}</mat-card-title>
        <mat-card-subtitle>{{ voyage.ville?.nom }}</mat-card-subtitle>
        <img mat-card-xl-image [src]="voyage.image?.image" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content> {{ voyage.description }} </mat-card-content>
    <a
      [routerLink]="['/voyage-detail/', voyage.id]"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      ><button mat-button color="primary">Details</button></a
    >
  </mat-card>
</div>
